name: CI

on:
  pull_request:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Run tests
        uses: gradle/gradle-build-action@v3
        with:
          gradle-version: "8.4"
          arguments: test
          build-root-directory: lab1
